@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:100;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* fonts */

:root {
    --color-primario: #4D6D63;
    --color-secundario: #AAC6BB;
    --color-terciario: #2B3D37;
    --color-cuaternario: #7D968E;
    --color-quintenario: #D6E2DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 32, 35);
    color: #E8EAED;
}

.titulo_principal {
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #4D6D63;
    border-bottom: 8px solid #4D6D63;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 20px;
}

form {
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 20px 0px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

fieldset {
    background-color: #D6E2DE;
    color: rgb(31, 32, 35);
    border: 1px solid #4D6D63;
    border-radius: 1px;
    padding-top: 10px;
    padding-bottom: 10px;

}

legend {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    background-color: #4D6D63;
    border-radius: 4px;
    padding: 0.5em;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    color: #E8EAED;
}

.letra_grande {
    font-size: 1.3em;
}

.separador{
    display: flex;
    justify-content: center;
    gap: 8px; 
    margin: 10px 0; 

}

.separador span {
    width: 10px;
    height: 10px;
    background-color: #a0b0a0; 
    border-radius: 50%;
    display: inline-block;
}

.contenedor_categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.contenido_encolumnado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    align-items: center;
    gap: 1em;
}

.actividades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    padding-left: 5px;
}

.contenido_izquierda {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1em;
    margin: 10px;
}


input {
    border: 1px solid #7D968E;
    border-radius: 2px;
    width: 100%;
    text-align: right;
    outline: none;
    font-size: 10px;
}

.input_seleccion {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;       
}

.input_seleccion input{
    width: auto;
    ;
}

select {
    border: 1px solid #7D968E;
    border-radius: 2px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    outline: none;
}

textarea {
    border: 1px solid #7D968E;
    resize: vertical;
    overflow: auto;
    border-radius: 2px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    min-height: 75px;
    outline: none;
    text-align: right;
}

::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #7D968E;
    text-align: right;
}

form div p {
    font-weight: bold;
}

.contenedor_botones {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #4D6D63;
    border-radius: 2px;
    color: #AAC6BB;
    background-color: #2B3D37;
    cursor: pointer;
}

button:hover {
    background-color:  #AAC6BB;
    color: #4D6D63;
}

fieldset:focus-within {
    background-color: #A6C1B9;
}

fieldset:focus-within legend {
    background-color: #2B3D37;
}

fieldset input:focus {
    background-color: #4D6D63;
    color: #E8EAED;
    border: 1px solid black;
}

fieldset select:focus {
    border: 1px solid black;
}

fieldset textarea:focus {
    background-color: #4D6D63;
    border: 1px solid black;
    color: #E8EAED;
}

/* 
Bordes del Titulo (diagonal)
Chequear si funciona todo bien con respecto al responsivo



